body {
    color: black;
}

#todays-menu,
#instagram
#menu{
    margin: 50px 0;
}

#todays-menu h2,
#instagram h2{
    text-align: center;
}

.container2 {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}


.text-container h2,
.text-container p {
    text-align: left;
}

.text-container {
    width: 100%;
    margin: 20px 0;
    font-size: 1.2em;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-title {
  text-align: center;
  background-color: #e4babe;
  border-radius: 20px;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 30px;
}

.menu-item {
  width: 23%;
  text-align: center;
}

.menu-item img:hover {
  opacity: 0.7;
}
.menu-item a {
  color: black;
  text-decoration: none;
}

.menu-item img {
  width: 100%;
  height: auto;
}

@media (min-width: 600px) {
    .text-container {
        width: 45%;
        margin: 40px 0;
    }

}

#todays-menu {
    text-align: center;
    font-size: 2rem;
}

#todays-menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#todays-menu h2 {
    text-align: center;
    background-color: #e4babe;
    border-radius: 20px;
    font-size: 24px;
    padding: 10px;
    /* Increase this value to make the background larger */
}
#todays-menu p {
    padding-left: 10px;
    padding-top: 3px;
}
/*
#popular-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/
#popular-items h2 {
    text-align: center;
    background-color: #e4babe;
    border-radius: 20px;
    font-size: 24px;
    padding: 10px;
}

#popular-items .items-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.item img {
    width: 200px;
    /* Adjust as needed */
    height: 200px;
    /* Adjust as needed */
    object-fit: cover;
}
#instagram h2 {
  text-align: center;
}
#instagram {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#instagram img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 80%;
    height: auto;
    border-radius: 20px;
}
#instagram div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#instagram img {
  display: block;
  object-fit: cover;
  width: 80%;
  height: auto;
}
