/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibri, sans-serif;
  background-color: #fcf1ef;
  line-height: 1.6;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #e4babe;
  color: #fff;
  z-index: 1;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav {
  padding: 6px 20px;
  margin-top: 10px;
  overflow: hidden;
  max-height: 300px;
}

.logo {
  margin-left: 20px;
  height: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
}

.iconList {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navButton {
  margin-right: 5px;
}

.hamburger-menu {
  display: none;
  height: 70px;
  cursor: pointer;
  position: absolute;
  margin-right: 15px;
  right: 20px;
}

.nav-links li a {
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
}

.nav-links li a:hover {
  background-color: #faefee;
  border-radius: 20px;
}

.shopping-cart-link:hover {
  background-color: #e3b9bd;
}

.profile-icon-link:hover {
  background-color: #e4babe;
}

.shopping-cart-image {
  height: 20px;
}

.profile-icon-image {
  height: 20px;
}

@media screen and (max-width: 700px) {
  .nav {
    position: absolute;
    top: 70px;
    width: 100%;
    justify-content: center;
    background-color: #e4babe;
    max-height: 0;
    padding: 0;
    transition: max-height 0.3s ease, padding 0.3s;

  }

  .nav.closed {
    max-height: 0;
  }

  .nav.open {
    max-height: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 5px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-left: 20px;
  }

  .iconList {
    justify-content: center;
  }

  .hamburger-menu {
    display: block;
  }
}


main {
  padding: 5px 20px 20px;
  margin: 0 auto;
  width: 70rem;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

button {
  background-color: #e4babe;
  color: #000000;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

button:hover {
  background-color: #e8d8c9;
}

footer {
  background-color: #e4babe;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
  bottom: 0;
  margin-top: auto;
  box-sizing: border-box;
  /* Add this line */
}

@media screen and (max-width: 1200px) {
  main {
    width: auto;
  }

}

@media screen and (max-width: 600px) {
  main {
    width: auto;
  }
}
