#edit-menu-div,
#lunch-menu-container {
  margin: 20px;
  padding: 0;
}

.edit-menu-divv {
  padding: 30px;
}

#lunch-menu-container {
  padding: 20px;
}

/* Rest of your CSS */


.lounas-header {
    text-align: center;
    font-size: 2rem;
    color: #5e606c;
}

.daymenu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.daymenu {
    width: 40%; /* Adjust as needed */
    margin: 10px;
    padding: 5px;
    border: 3px solid #e4babe;
    border-radius: 20px;
    background-color: #fcf1ef;
}

.daymenu h3 {
    text-align: center;
    background-color: #e4babe;
    border-radius: 20px;
    font-size: 18px;
    color: #5e606c;
}

.daymenu p {
    padding-left: 10px;
    padding-top: 3px;
    color: #5e606c;

}

@media screen and (max-width: 600px) {
    .daymenu {
        width: 80%;
    }

  #add-item-button {
    margin-top: 10px;
  }
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 0px;
}

.header-container button {
    /*display: none;*/
    padding: 10px 10px;
    margin-left: 10px;
}

#inner-menu-container {
    background-color: #faefee;
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
    border: 2px solid #e4babe;
    margin-bottom: 15px;
    margin-top: -10px;
}

#excisting-menu-item {
  list-style: none;
}

#restaurant-heading {
    text-align: center;
}

#date {
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    color: #000000;
    background-color: #faefee;
    border-radius: 5px;
    border: #e4babe 2px solid;
    padding: 3px;
}

#restaurant {
    padding: 5px;
    border-radius: 5px;
    background-color: #faefee;
    border: #e4babe 2px solid;
}

#items {
    padding: 5px;
    border-radius: 5px;
    background-color: #faefee;
    border: #e4babe 2px solid;
    margin-top: 10px;
}

#selected-items {
    padding: 5px;
    border-radius: 15px;
    background-color: #faefee;
    border: #e4babe 2px solid;
    margin-top: 10px;
  color: #5e606c;

}

  #selected-items h3 {
  text-align: center;
}

  #newMenuItemsId {
    margin-left: 10px;
    cursor: pointer;
  }

  .remove-button {
    margin-left: 10px;
    cursor: pointer;
    background-color: red;
    font-size: 10px;
    color: white;
    padding: 2px 5px 2px 5px;
  }

  .editMenuHeader {
    text-align: center;
    font-size: 1.8rem;
    color: #5e606c;
    margin-bottom: 18px;
  }

  .daymenu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .day-container {
    padding: 5px;
    border-radius: 15px;
    background-color: #faefee;
    border: #e4babe 2px solid;
    margin-top: 20px;
    text-align: center;
    min-width: 200px;
    max-width: 300px;
  }

.top-row-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.bottom-row-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#restaurant-select {
  background-color: #faefee;
  min-width: 160px;
  max-height: 200px; /* Set a maximum height for the dropdown */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 8px 12px;
  border: #e4babe 2px solid;
  border-radius: 10px;
}

.chooseLocation {
  text-align: center;
  font-size: 1rem;
  color: #5e606c;
  margin-bottom: 20px;
}

.current-day {
  border: #e1adb2 4px solid;
  box-shadow: rgba(0, 0, 0, 0.22) 2px 2px 5px;
}

#error-message {
  color: red;
}

#add-new-menu-button {
  margin-top: 5px;
}

#menu-for-date {
  font-size: 1rem;
  margin-top: 20px;
  color: #5e606c;
}

.edit-menu-div {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out, padding 0s 1s;
}

.edit-menu-div.open {
  max-height: 750px; /* Set an appropriate maximum height */
  padding: 30px;
}


